[submodule "dot/vim/vendor/vim-haml"]
	path = dot/vim/vendor/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "dot/vim/vendor/vim-cucumber"]
	path = dot/vim/vendor/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "dot/vim/vendor/vim-rails"]
	path = dot/vim/vendor/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "dot/vim/vendor/nerdtree"]
	path = dot/vim/vendor/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dot/vim/vendor/nerdcommenter"]
	path = dot/vim/vendor/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "dot/vim/vendor/ack.vim"]
	path = dot/vim/vendor/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "dot/vim/vendor/vim-fugitive"]
	path = dot/vim/vendor/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dot/vim/vendor/vim-surround"]
	path = dot/vim/vendor/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dot/vim/vendor/vim-repeat"]
	path = dot/vim/vendor/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "dot/vim/vendor/snipmate.vim"]
	path = dot/vim/vendor/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "dot/vim/vendor/fuzzyfinder"]
	path = dot/vim/vendor/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "dot/vim/vendor/scss-syntax.vim"]
	path = dot/vim/vendor/scss-syntax.vim
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "dot/vim/vendor/l9"]
	path = dot/vim/vendor/l9
	url = git://github.com/vim-scripts/L9.git
