[user]
  name = My Real Name
  email = me@example.com

[color]
  ui = auto
[alias]
  aa = add -A
  br = branch
  st = status
  ci = commit
  co = checkout
  cruise = push -f my HEAD:cruise
  di = diff
  f = fetch --all --prune
  l = pull
  lg = log --graph --pretty=oneline --abbrev-commit --decorate
  lga = log --graph --pretty=oneline --abbrev-commit --decorate --all
  oneline = log --pretty=oneline
  p = push
  rh = reset HEAD
  rhh = reset HEAD --hard
  sb = show-branch
  sm = submodule
  st = status
  staged = diff --cached
  up = pull --rebase
[core]
  excludesfile = ~/.gitignore
	quotepath = false
[status]
  submodulesummary = 1
[push]
  default = tracking
[branch]
  autosetuprebase = always
[pull]
  rebase = true
